<div *ngIf="loadingContent" class="loader">
    <div class="spinner">
        <mat-spinner></mat-spinner>
        <p class="spinner-text">Loading up some media...</p>
    </div>
</div>
<div class="carousel" *ngIf="!loadingContent && slides.length !== 0" #carouselComponent>
    <div class="carousel-arrows previous" #prevArrow>
        <button mat-icon-button (click)="previousSlide(); pause();"><mat-icon>chevron_left</mat-icon></button>
    </div>
    <ul class="carousel-slides" #slideContainer>
        <li *ngFor="let slide of slides; let idx = index" class="slide" (click)="open(slides, idx)">
                <div class="slide-inner">
                    <h2 class="slide-title">{{ slide.title }} {{ idx }} </h2>
                    <!-- TODO: Bug is somewhere here it starts from slide 2 and doesnt display first 2 -->
                    <!-- object type should work for images/videos/pdfs coming from server (excl. external resources) -->
                    <!-- <div *ngIf="isImage(slide.url)">
                        <img [src]="slide.url | safeURL">
                    </div>
                    <div *ngIf="isPDF(slide.url)"> -->
                        <div>
                            <object [data]="slide.url | safeURL" autoplay="0" autostart="0"></object>
                        </div>
                    <!-- </div>
                    <div *ngIf="isVideo(slide.url)">
                        <video controls>
                            <source [src]="slide.url | safeURL">
                        </video>
                    </div>
                    <div *ngIf="isAudio(slide.url)">
                        <audio controls>
                            <source [src]="slide.url | safeURL">
                        </audio>
                    </div> -->
                </div>
        </li>
    </ul>
    <div class="carousel-arrows next" #nextArrow>
        <button mat-icon-button (click)="nextSlide(); pause();"><mat-icon>chevron_right</mat-icon></button>
    </div>
</div>
<div class="carousel" *ngIf="slides.length === 0">
    <div class="carousel-slides" #slideContainer>
        <div class="slide-inner active">
            <p class="no-content">No media found.</p>
        </div>
    </div>
</div>