<div *ngIf="loadingContent" class="loader">
    <div class="spinner">
        <mat-spinner></mat-spinner>
        <p class="spinner-text">Loading up some media...</p>
    </div>
</div>

<div class="carousel" *ngIf="!loadingContent && slides.length !== 0" #carouselComponent>
    <ul class="carousel-slides" #slideContainer>
        <li *ngFor="let slide of slides; let idx = index" class="slide" (click)="open(slides, idx)">
            <object [data]="slide.url | safeURL"></object>
            <h2 class="slide-title">{{ slide.title }} {{ idx }} {{ slide.type }} </h2>
        </li>
    </ul>
    <div class="carousel-arrows next" #nextArrow>
        <button mat-icon-button (click)="nextSlide()"><mat-icon>chevron_right</mat-icon></button>
    </div>
    <div class="carousel-arrows previous" #prevArrow>
        <button mat-icon-button (click)="previousSlide()"><mat-icon>chevron_left</mat-icon></button>
    </div>
</div>

<div class="carousel" *ngIf="slides.length === 0" #carouselComponent>
    <div class="carousel-slides" #slideContainer>
        <div class="no-content">
            <p>No media found.</p>
        </div>
    </div>
</div>