<div class="network-controls">
    <button mat-raised-button [color]="pathSelection ? 'primary' : ''" (click)="enablePathSelection()"><mat-icon>timeline</mat-icon></button>
    <button mat-raised-button (click)="displayPathSelection()"><mat-icon>check</mat-icon></button>
    <button mat-raised-button (click)="disablePathSelection()"><mat-icon>clear</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetPathSelection()"><mat-icon>refresh</mat-icon></button>
</div>
<div class="detail-panel" *ngIf="selectedNode">
    <h2>{{ selectedNode.name }}</h2>

</div>
<div class="wrapper">
    <div class="controls">
        <div class="search">
            <mat-form-field>
                <input matInput placeholder="Look for events..." [matAutocomplete]="auto" [formControl]="eventCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let e of filteredEvents | async" [value]="e.name" (click)="selectedItem(e)">
                        {{e.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-mini-fab (click)="resetVis()"><mat-icon>refresh</mat-icon></button>
            <!-- <mat-slide-toggle (change)="toggleLabels('node')">Hide node labels</mat-slide-toggle>
            <mat-slide-toggle (change)="toggleLabels('link')">Hide link labels</mat-slide-toggle> -->
        </div>
        <div id="legend">
                <mat-chip-list>
                    <mat-chip *ngFor="let c of legendColor" selected="true" [style.backgroundColor]="c.color" (click)="highlightNodeType(c.display)">{{ c.display }}</mat-chip>
                    <mat-chip [style.backgroundColor]="'#515151'" (click)="clearHighlightedNodesLinks()" selected="true"><mat-icon>close</mat-icon></mat-chip>
                </mat-chip-list>
            </div>
    </div>
    <div id="people-wrapper">
        <div id="network" #network></div>
        <div id="timeline" #timeline></div>
        <div class="legend" *ngIf="networkInitialized">
            <div class="start">{{ startDate }}</div>
            <div class="end">{{ endDate }}</div>
        </div>
    </div>
</div>