.dashboard-carousel {
    height: 600px;
}

.dashboard-navigation {
    position: relative;
    bottom: 2em;
    right: 1em;
    float: right;
    & a {
        padding: 0.5em;
    }
}

.dashboard-content-wrapper {
    width: auto;
    height: auto;
    position: relative;
}

.dashboard-content-grid-tile {
    height: 100% !important;
}

::ng-deep .mat-figure  {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-left: 5em !important;
    padding-right: 5em !important;
    text-align: justify !important;
}
