<div class="wrapper">
    <div class="search">
        <mat-form-field>
            <input class="search-input" matInput placeholder="Search..." [matAutocomplete]="auto" [formControl]="searchCtrl">
            <button mat-button *ngIf="showClear" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let person of filteredItems | async" [value]="person.name">
                    <button mat-icon-button (click)="addToTimeline(person)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span>{{ person.name }}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div id="people-timeline" #peopletimeline></div>
</div>