<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [opened]="personSelected">
        <!-- Details about selected person -->
        <div class="detail" *ngIf="selectedPerson">
            <button id="close-btn" mat-icon-button (click)="closePersonDetails()">
                <mat-icon>close</mat-icon>
            </button>
            <div class="person-details">
                <h3>{{ selectedPerson.name }}</h3>
                <mat-chip-list>
                    <mat-chip *ngFor="let r of selectedPerson.roles">{{ r }}</mat-chip>
                </mat-chip-list>
                <div *ngFor="let d of selectedPerson.dates">
                    <p>{{ displayDate(d.date) }} {{ d.dateName }}</p>
                </div>

                <div *ngFor="let d of selectedPerson.functions">
                    <p>{{ displayDate(d.startDate) }} - {{ displayDate((d.endDate)) }} {{ d.dateName }}</p>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="options">
            <div>
                <button mat-flat-button (click)="getList()"><mat-icon>list</mat-icon> show list</button>
            </div>
            <div>
                <button mat-flat-button (click)="updateScales()"><mat-icon>zoom_in</mat-icon> apply zoom</button>
            </div>
            <div>
                <mat-slide-toggle (change)="showExiled()">Exiled</mat-slide-toggle>
            </div>
            <div *ngFor="let e of eventTypes">
                <mat-radio-button (change)="filterEventsByType(e)">{{ e }}</mat-radio-button>
            </div>
            <div>
                <mat-radio-button (change)="filterEventsByType()">all</mat-radio-button>
            </div>
            <div>
                <mat-select [(value)]="currentOrder" (selectionChange)="updateOrder()">
                    <mat-option *ngFor="let o of ordering" [value]="o">{{ o }}</mat-option>
                </mat-select>
            </div>
            <div id="autocomplete">
                <mat-form-field>
                    <input matInput placeholder="Person" [matAutocomplete]="auto" [formControl]="peopleCtrl">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoComplete()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let person of filteredPeople | async" [value]="person.name" (click)="displayPersonDetails(person.name)">
                            <span>{{ person.name }}</span> 
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div id="wrapper">
            <div id="timeline-radial" #timelineRadial></div>
            <div id="timeline-chart" #timelineChart></div>
            <div id="people">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let p of currentlySelectedPeople">
                        <mat-expansion-panel-header class="people-headers-align">
                            <mat-panel-title><b>{{ p.name }}</b></mat-panel-title>
                            <mat-panel-description>{{ p.events.length }} events</mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-flat-button (click)="displayPersonDetails(p.name)"><mat-icon>info</mat-icon> Details</button>
                        <div *ngFor="let e of p.events">    
                            <div class="event-dot" [ngStyle]="{'background-color': getColorForType(e.color)}" [matTooltip]="e.color"></div>
                            <h4 class="event-header">{{ e.dateName }}</h4>
                            <p>({{ displayDate(e.startDate) }} - {{ displayDate(e.endDate) }})</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div id="date-extent">
            <h3>{{ displayDate(currentlySelectedMinDate) }}</h3>
            <h3>&nbsp; - &nbsp;</h3>
            <h3>{{ displayDate(currentlySelectedMaxDate) }}
                ({{ getDuration(currentlySelectedMinDate, currentlySelectedMaxDate)}} years)</h3>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<div id="tooltip" #tooltip></div>