<div id="options">
    <div *ngFor="let e of eventTypes">
        <mat-radio-button (change)="filterEventsByType(e)">{{ e }}</mat-radio-button>
    </div>
    <div>
        <mat-radio-button (change)="filterEventsByType()">all</mat-radio-button>
    </div>
    <div>
        <mat-select [(value)]="currentOrder" (selectionChange)="updateOrder()">
            <mat-option *ngFor="let o of ordering" [value]="o" >{{ o }}</mat-option>
        </mat-select>
    </div>
</div>
<div id="wrapper">
    <div id="timeline-holder" #timelineHolder></div>
    <div id="people">
        <div *ngFor="let p of currentlySelectedPeople">
            <p>{{ p.name }} ({{ p.events }})</p>
        </div>
    </div>
</div>
<div id="date-extent">
    <h3>{{ displayDate(currentlySelectedMinDate) }}</h3>
    <h3>&nbsp; - &nbsp;</h3>
    <h3>{{ displayDate(currentlySelectedMaxDate) }}
        ({{ getDuration(currentlySelectedMinDate, currentlySelectedMaxDate)}} years)</h3>
</div>
<div id="tooltip" #tooltip></div>