.wrapper {
    position: relative;
    top: 4em;
    // left: 4em;
    height: calc(100% - 4em);
    width: 100%;
}

.search mat-form-field {
    width: 400px;
}

#people-wrapper {
    position: relative;
    top: 2em;
    width: 100%;
    height: calc(100% - 2em);
    z-index: 999;
}

#network {
    width: 100%;
    height: 65%;
}

#timeline {
    width: 100%;
    height: 35%;
}

// ::ng-deep .event {
    // background-color: transparent;
// }

// ::ng-deep .vis-item .vis-range {
    
// }

.controls {
    position: fixed;
    top: 1em;
    left: 3em;
}

::ng-deep circle {
    stroke-width: 1.5px;
  }
::ng-deep line {
stroke: #999;
}

::ng-deep .pie {
    cursor: pointer;
}

::ng-deep .node,
::ng-deep .link,
::ng-deep .label {
    transition: opacity 0.5s ease-in-out;
    user-select: none;
}

::ng-deep .slice-extension {
    position: absolute;
    // z-index: -1;
    width: 200px;
    height: 75px;

    &:hover {
        opacity: 1 !important;
    }

    & p {
        color: white;
    }
}

.network-controls {
    position: absolute;
    top: 8em;
    left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 160px; // 32.5px per item
    z-index: 1000;
}

.detail-panel {
    position: absolute;
    top: 2em;
    right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: auto;
    z-index: 1000;
}

::ng-deep .tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 1em;				
    background: white;	
    border: 0px;		
    pointer-events: none;	
    z-index: 9999;		
}

.legend {
    width: 100%;
    position: absolute;
    opacity: 0.25;
    display: flex;
    flex-direction: column;
    height: 0px;
    font-size: 5em;
    bottom: 5.5em;
    left: 0em;

    .start {
        position: absolute;
        top: 0em;
        left: 0.25em;
    }

    .end {
        position: absolute;
        top: 0em;
        right: 0.25em;
    }
}