::ng-deep .cluster-tooltip-icon {
    width: 35px;
    height: 35px;
    padding-top: 0.35em;
    margin-left: -1em;
  }
  
  .cluster-tooltip-text {
    padding-left: 1em;
    outline: none;
    text-decoration: none;
  }
  