<div class="lightbox-wrapper">
  <div *ngIf="data.length > 1">
    <button mat-icon-button id="lightbox-previous" (click)="previous()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button id="lightbox-next" (click)="next()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <button id="lightbox-close" mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>{{ data[currentIdx].title }}</h2>
  <p>
  </p>
  <img *ngIf="isImage(data[currentIdx].url)" class="lightbox-element" [src]="data[currentIdx].url" />
  <video *ngIf="isVideo(data[currentIdx].url)" class="lightbox-element" controls>
    <source [src]="data[currentIdx].url" type="video/mp4">
  </video>
  <audio *ngIf="isAudio(data[currentIdx].url)" class="lightbox-element" controls>
    <source [src]="data[currentIdx].url" type="audio/mp3">
  </audio>
  <p style="text-align: center;">&copy; {{ data[currentIdx].copyright }}</p>
</div>
<div class="lightbox-overlay"></div>