.preview-carousel {
  height: 400px;
}

.mat-dialog-content {
    padding-bottom: 24px;
}

.mat-dialog-title {
  margin: 0px;
}

.dialog-themes {
  margin-bottom: 1em;
}

.media-item {
  width: 200px;
  cursor: pointer;
}

//   .sources-list {

//   }

::ng-deep .ui-carousel-item {
  background: none;
}

.previewpanel-container {
  margin: 1em;
}

.preview-carousel {
  z-index: 1;
}

.no-media {
  font-size: 4em;
  color: white;
  opacity: 0.75;
  vertical-align: middle;
  text-align: center;
  margin-top: 1.6em;
}

.preview-carousel-image,
.preview-carousel-video {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.location-container {
  width: 100%;
  padding-bottom: 1em;
}

.location-list {
  list-style: none;
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.location-item {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  margin-right: 2em;
  border: 5px solid #c9c9c9;
}

.location-item:last-child .location-line {
  display: none;
}

.location-line {
  position: absolute;
  z-index: -1;
  width: auto;
  margin-top: 0.1em;
  padding-right: 3em;
  border: 5px solid #c9c9c9;
}

.arrows {
  white-space: nowrap;
  padding: 0;
}

.arrows li {
    font-family: 'Roboto,Helvetica Neue,sans-serif';
    display: inline-block;
    line-height: 26px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.arrow:not(:first-child) {
  margin: 0 9px 0 -10px;
  padding: 0 5px;
  color: red;
}

::ng-deep .arrows li:not(:first-child)::before,
::ng-deep .arrows li:not(:first-child)::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /*z-index: -1;*/
    transform: skewX(45deg);
}

::ng-deep .arrows li:not(:first-child)::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

::ng-deep .arrows li:not(:first-child):last-of-type::before,
::ng-deep .arrows li:not(:first-child):last-of-type::after {
    display: none;
}

.arrows li a {
    text-decoration: none;
}

::ng-deep .arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); }
::ng-deep .arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); }
::ng-deep .arrows li:nth-of-type(3) a { color: hsl(0, 0%, 50%); }
::ng-deep .arrows li:nth-of-type(4) a { color: hsl(0, 0%, 45%); }
